.container {
  max-width: 800px;
  width: 800px;
  background-color: rgb(21, 21, 21);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.searchForm {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  width: 600px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.searchForm input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  background: #ccc;
  color: #000;
  font-weight: bold;
  padding: 0 10px;
  font-size: 16px;
}

.searchForm button {
  background-color: #008421;
  height: 40px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 15px;
  flex-shrink: 0;
  font-size: 16px;
}

.tokenDiv {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.encodeDiv,
.decodeDiv {
  flex: 1;
  width: 50%;
}

pre {
  background-color: #323131;
  border-radius: 10px;
  padding: 10px;
  white-space: pre-wrap;
  max-height: 300px;
  min-height: 20px;
  overflow-y: auto;
  word-break: break-all;
}
